main{
    padding: 40px 20%;
    font-size: 20px;
}

a{
    text-decoration: none;
    color: violet;
    display: inline-block;
}

header{
    clear: both;
    padding: 10px;
    font-size: 20px;
}

header div{
    float: right;
}

ul{
    list-style-type: none;
    padding: 0;
}

.hidden{
    display :none;
}

.checkAnswer{
    color:#808080a6;
}

.btn{
    padding:10px 20px;
    background-color: #3e1882;
    cursor: pointer;
    color:white;
    border: 0 ;
    border-radius: 5px;
    font-size: 16px;
}

input[type="text"]{
    font-size: 26px;
}

.btn:hover{
    background-color: violet;
}

#btnStartQuiz{
    font-size: 22px;
}

.bgGrey{
    background-color: grey;
    color: #000;
}

.anwserChoices li .choice{ 
    margin: 5px 0;
    display: inline-block;
    min-width: 200px;
}

.highScores li{
    margin: 5px 0;
    padding: 5px;
    background-color: #673ab71c;
}

#startQuiz{
    text-align: center;
}